<!doctype html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Давай, Чък</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&amp;subset=cyrillic" rel="stylesheet" />
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/normalize.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.4.0"></script>
  </head>
  <body>
    <div id="ysnpApp" class="wrapper" v-cloak>
      <!-- Add your site or application content here -->
      <div class="container">
        <div class="py-5 text-center">
          <!-- div class="gandalf">
            <img class="d-block mx-auto mb-4" src="assets/gfx/gandalf.png" width="100" height="75" alt="" />
            <div
              v-if="!showSpeechBubble"
              v-bind:title="title"
              v-on:click="updateTitle"
              class="not" >...</div>
            <div
              v-if="showSpeechBubble"
              v-on:click="hideSpeechBubble"
              class="speech-bubble">{{gandalfSays}}</div>
          </div -->
          <h2>Fly you fools!</h2>
          <p class="lead"></p>
        </div>
        <div class="row">
          <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Sign-up form</h4>
            <form
              v-on:submit.prevent="doSubmit"
              class="needs-validation"
              novalidate="novalidate">
              <div class="row">
                <div class="col-md-4 mb-3">
                  <label for="city">City</label>
                  <input
                    v-model="form.city"
                    type="text"
                    class="form-control"
                    id="city"
                    placeholder=""
                    value=""
                    required="required">
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="country">Preferred department</label>
                  <select
                    v-model="form.department"
                    class="custom-select d-block w-100" id="country" required="required">
                    <option value="">Choose...</option>
                    <option>Front-end / JS</option>
                    <option>Front-end / Styling</option>
                    <option>Back-end / Java</option>
                    <option>Back-end / .NET</option>
                    <option>Back-end / PHP</option>
                    <option>Back-end / Python</option>
                    <option>Quality Assurance</option>
                    <option>Mobile / iOS</option>
                    <option>Mobile / Android</option>
                  </select>
                  <div class="invalid-feedback">
                    Please select a valid country.
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label for="tech">Technologies</label>
                  <input
                    v-model="form.technologies"
                    v-on:keyup="updateTechnologies"
                    type="text"
                    class="form-control"
                    id="tech"
                    placeholder=""
                    value=""
                    required="required" />
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 mb-3">
                  <label for="firstName">First name</label>
                  <input
                    v-model="form.firstName"
                    v-on:keyup="validateName"
                    type="text"
                    class="form-control"
                    id="firstName"
                    placeholder=""
                    value=""
                    required="required" />
                  <div class="invalid-feedback">
                    Valid first name is required.
                  </div>
                </div>
                <div class="col-md-6 mb-3">
                  <label for="lastName">Last name</label>
                  <input
                    v-model="form.lastName"
                    v-on:keyup="validateName"
                    type="text"
                    class="form-control"
                    id="lastName"
                    placeholder=""
                    value=""
                    required="required">
                  <div class="invalid-feedback">
                    Valid last name is required.
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 mb-3">
                  <label for="secretCode">Secret code</label>
                  <input
                    v-model="form.secretCode"
                    type="text"
                    class="form-control"
                    id="secretCode"
                    placeholder=""
                    value=""
                    required="required">
                  <div
                    v-if="!secret.isSuccessful"
                    class="invalid-feedback">
                    {{secret.errorMsg}}
                  </div>
                </div>
              </div>

              <hr class="mb-4">

              <button
                class="btn btn-primary btn-lg btn-block"
                type="submit">I'm ready!</button>
            </form>
          </div>
          <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-muted">Riddles solved:</span>
              <span class="badge badge-secondary badge-pill">{{hints.length}}</span>
            </h4>
            <ul class="list-group mb-3 hints">
              <li
                v-if="hints.length === 0"
                class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">Ready?</h6>
                  <small class="text-muted">Give it a try!</small>
                </div>
                <span class="text-muted"></span>
              </li>
              <li
                v-for="hint in hints"
                class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                  <h6 class="my-0">{{hint.title}}</h6>
                  <small class="text-muted">{{hint.description}}</small>
                </div>
                <span class="text-muted"></span>
              </li>
            </ul>
          </div>
        </div>
        <footer class="my-5 pt-5 text-muted text-center text-small">
          <p class="mb-1">&copy; 2018 Made with ♥ by Dimitar, Yordan, Plamen</p>
        </footer>
      </div> <!-- .row -->
      <div class="gandalf-footer">
        <img class="d-block mx-auto mb-4" src="assets/gfx/gandalf.png" width="100" height="75" alt="" />
        <div
          v-if="showFooterSpeechBubble"
          v-on:click="hideFooterSpeechBubble"
          class="speech-bubble">{{gandalfFooterText}}</div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
  </body>
</html>
