/*! You shall not pass! */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

body {
  font-family: 'Open Sans', Verdana, Arial, sans-serif;
  font-weight: 300;
}

.wrapper {
  background: url('../gfx/bg.png') no-repeat center 100px;
}

[v-cloak] {
  display: none;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix {
  &:before {
    content: " ";

    /* 1 */
    display: table;

    /* 2 */
  }

  &:after {
    content: " ";

    /* 1 */
    display: table;

    /* 2 */

    clear: both;
  }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important;

    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;

    &:before, &:after, &:first-letter, &:first-line {
      background: transparent !important;
      color: #000 !important;

      /* Black prints faster:
         http://www.sanbeiji.com/archives/953 */
      box-shadow: none !important;
      text-shadow: none !important;
    }
  }

  a {
    text-decoration: underline;

    &:visited {
      text-decoration: underline;
    }

    &[href]:after {
      content: " (" attr(href) ")";
    }
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */

  a {
    &[href^="#"]:after, &[href^="javascript:"]:after {
      content: "";
    }
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */

  thead {
    display: table-header-group;
  }

  tr {
    page-break-inside: avoid;
  }

  img {
    page-break-inside: avoid;
    max-width: 100% !important;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }
}


////////////////////////
///
/// YOU SHALL NOT PASS!
///
////////////////////////
.wrapper {
  .ysnp-form {
    z-index: 10;
    position: relative;
  }
}
.gandalf {
  bottom: 0;
  right: 10%;
  position: fixed;
  margin: 0 auto;
  width: 100px;
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;

  &.wizard-enter-active,
  &.wizard-leave-active {
    transition: opacity .5s;
  }
  &.wizard-enter,
  &.wizard-leave-to {/* .fade-leave-active below version 2.1.8 */
    opacity: 0;
  }

  .not {
    top: 0;
    right: 0;
    position: absolute;
    width: 20px;
    height: 10px;
    border-radius: 3px/6px;
    background-color: rgb(0, 132, 255);
    box-shadow: 1px 1px 2px #888;
    font-size: 18px;
    font-weight: bold;
    line-height: 1px;
    color: #FFF;
    cursor: pointer;
  }

  .speech-bubble {
    top: 0px;
    right: 0;
    transform: translate(64px, -100%);
    position: absolute;
    padding: 5px;
    min-width: 200px;
    background-color: rgb(0, 132, 255);
    border-radius: .4em;
    font-size: 12px;
    color: #fff;

    &.bubble-enter-active,
    &.bubble-leave-active {
      transition: opacity .5s;
    }
    &.bubble-enter,
    &.bubble-leave-to {/* .fade-leave-active below version 2.1.8 */
      opacity: 0;
    }

    &:after {

      content: '';
      position: absolute;
      bottom: 0px;
      left: 50%;
      // transform: translate(-50%, -50%);
      width: 0;
      height: 0;
      border: 9px solid transparent;
      border-top-color: #00aabb;
      border-bottom: 0;
      border-left: 0;
      margin-left: -4.5px;
      margin-bottom: -9px;
    }
  }
}

.hints {
  h6 {
    text-transform: capitalize;
  }
}

.bsod {
  z-index: 50;
  top: 0px;
  left: 0px;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: 'Lucida Console', 'Lucida Sans Typewriter', monaco, 'Bitstream Vera Sans Mono', monospace;
  background: #0000AA;
  color: #fff;
  animation: blink 1s steps(1, end) infinite forwards;

  .error-header {
    text-align: center;
    margin-bottom: 10px;
  }

  .error-header span {
    background: rgba(255, 255, 255, 0.7);
    color: #0000AA;
    margin: auto;
  }

  .error {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 14px;
    max-width: 420px;
  }
}

.spinner-holder {
  z-index: 100;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 1);

  &.spinner-enter-active,
  &.spinner-leave-active {
    transition: opacity .5s;
  }
  &.spinner-enter,
  &.spinner-leave-to {/* .fade-leave-active below version 2.1.8 */
    opacity: 0;
  }
}

.spinner {
  left: 50%;
  top: 50%;
  position: fixed;
  margin: -20px 0 0 -20px;
  // transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  text-align: center;

  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1,
.dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #007bff;
  border-radius: 100%;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
  100% {
    -webkit-transform: rotate(360deg)
  }
}
@keyframes sk-rotate {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg)
  }
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


@keyframes blink {
  0% { opacity: 1; }
  33% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
